/* ------------------------------------------
  Reset ♥
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
---------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  }
html, body, #map {width: 100%; height: 100%;}
body { line-height: 1; }
ol, ul { list-style: none;  }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
/* tables still need 'cellspacing='0'' in the markup */
table { border-collapse: collapse; border-spacing: 0; }
:focus { outline: 0; }

/* --------------------------------------------------------
  Global styles
--------------------------------------------------------- */

body {
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  color: #ddddd8;
  background-color: #222220;
  line-height: 20px;
  }

h1 {
  font-size: 20px;
  padding: 10px 0;
  font-weight: bold;
  }
h2 {
  font-size: 20px;
  margin: 0 0 20px;
  }

p,
li {
  margin: 0 0 10px;
  }

a {
  color: #489;
  text-decoration: none;
  }
em {
  font-weight: bold;
  }


html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #E5E0D9;
}

svg {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* --------------------------------------------------------
  Layout
--------------------------------------------------------- */

#header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.8;
  box-shadow:         10px 0 100px 100px #000;
  -moz-box-shadow:    10px 0 100px 100px #000;
  -webkit-box-shadow: 10px 0 100px 100px #000;
  height: 0px;
  padding: 20px 20px 0;
  }
  #header h1, #header div {
    display: inline;
    line-height: 30px;
    margin-top: 20px;
    }
  #header div.date {
    color: #f00;
    padding-left: 20px;
  }

#map {
  position:fixed !important;
  width:auto !important;
  height:auto !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  }

/* --------------------------------------------------------
  Map
--------------------------------------------------------- */

.compass .back {
  fill: #eee;
  fill-opacity: .8;
}

.compass .fore {
  stroke: #999;
  stroke-width: 1.5px;
}

.compass rect.back.fore {
  fill: #999;
  fill-opacity: .3;
  stroke: #eee;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.compass .direction {
  fill: none;
}

.compass .chevron {
  fill: none;
  stroke: #999;
  stroke-width: 5px;
}

.compass .zoom .chevron {
  stroke-width: 4px;
}

.compass .active .chevron, .compass .chevron.active {
  stroke: #fff;
}

.compass.active .active .direction {
  fill: #999;
}

#legend {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  right: 20px;
  background-color: #000;
  opacity: .7;
  padding: 20px;
  }
#legend li {
  line-height: 20px;
  padding-bottom: 5px;
  }
.swatch {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
  }
  .swatch.twa {
    background-color: #c50;
    }
  .swatch.twr {
    background-color: #c00;
    }
#attribution {
  font-size: 12px;
  }

/* --------------------------------------------------------
  Map data
--------------------------------------------------------- */

#lines {
  fill: none;
  stroke: #f00;
  }

#points {
  fill: #fff;
  opacity: .9;
  }
/* Warning */
#warnings .twr {
  fill: #c00;
  stroke: #f00;
  opacity: .6;
  }
/* Watch */
#warnings .twa {
  fill: #c50;
  stroke: #f80;
  opacity: .6;
  }

#cone path {
  opacity: .4;
  fill: #333;
  stroke: #fff;
}

